@keyframes planetAn {
	from{
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes bottomIn {
	from {
		transform: translateY(500px);
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}


@keyframes rightIn{
	from{
		transform: translateX(500px);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes leftIn{
	from{
		transform: translateX(-500px);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes topIn{
	from{
		transform: translateY(-500px);
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}
